.field {
    margin: 0;
}

.middle {
    background-image: url("img/JB_Background.png");
}

.main-field {
    width: auto;
    white-space: pre;
    padding-top: 3rem;
}

.main-field > * {
    overflow-x: hidden;
    overflow-y: hidden;
    border: black 3px solid;
    border-radius: 1.2rem;
    width: 30%;
    margin: 1rem;
    padding: 0.5rem;
    background-color: white;
}

.changed-text-old {
    display: inline;
    background-color: rgba(5, 193, 253, 0.6);
}

.changed-text-new {
    display: inline;
    background-color: rgba(145, 53, 224, 0.5);
}

.deleted-text {
    display: inline;
    background-color: rgba(125, 125, 125, 0.47);
}

.added-text {
    display: inline;
    background-color: rgba(24, 214, 140, 0.7);
}

.old-text {
    display: inline;
}
